@using WorldLib.Enums
@using WorldLib.Models
@model Comment


<div class="modal-content">
    <div class="modal-header" style="background-color:#00796B;">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Редактирование комментария</h4>
    </div>
    <div class="modal-body">
        <form  action="~/Comments/Edit" method="post">
            <div class="form-group">
                @Html.LabelFor(x => x.Status, "Изменить статус")
                @Html.DropDownListFor(x => x.Status, new SelectList(Enum.GetValues(typeof(CommentStatusEnum))),
                    new {@class = "form-control"})
                @Html.LabelFor(x => x.Text, "Текст")
                @Html.TextAreaFor(x => x.Text, 7, 50,  new {@class = "form-control"})
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.UserId)
                @Html.HiddenFor(x => x.DiscussionId)
                @Html.HiddenFor(x => x.CreationDateTime)
            </div>
            <button type="submit" class="btn btn-primary">Обновить</button>
        </form>
    </div>
</div>
