@using WorldLib.Enums
@model List<WorldLib.Models.RecipeComment>


<div class="container">
    <div class="well">
        <div id="modDialog" class="modal fade">
            <div id="dialogContent" class="modal-dialog"></div>
        </div>
        <table class="table table-hover table-bordered" id="results">
            <thead>
                <tr>
                    <td><strong>ID</strong></td>
                    <td><strong>Текст комментария</strong></td>
                    <td><strong>Автор</strong></td>
                    <td><strong>Дата/время</strong></td>
                    @*<td><strong>Тема обсуждения</strong></td>*@

                    @*@Html.EnumDropDownListFor(x => x.FirstOrDefault(s => s.Status == CommentStatusEnum.Moderation).Status, new { @class = "form-control", @onchange = "SelectedValue(this)" })*@
                    @Html.DropDownList("status", new SelectList(Enum.GetValues(typeof(WorldLib.Enums.CommentStatusEnum))),
                        new {@class = "form-control" ,@onchange = "SelectedValue(this)"})
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="item-id" style="color:darkgreen">@item.Id</td>
                    @if (item.Status == WorldLib.Enums.CommentStatusEnum.Published)
                    {
                        <td class="text-success">@item.Text</td>
                    }
                    else
                    {
                        <td class="text-danger">@item.Text</td>
                    }
                    <td>@item.User.Email</td>
                    <td>@item.CreateDateTime.ToShortDateString() @item.CreateDateTime.ToShortTimeString()</td>
                    @*<td>@item.RecipeId.Name</td>*@
                    <td><a class="item-edit" href="~/Comments/Edit/@item.Id"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a href="~/Comments/Delete/?id=@item.Id&email=@item.User.Email"><span class="glyphicon glyphicon-remove text-danger"></span></a></td>
                    @if (item.Status == WorldLib.Enums.CommentStatusEnum.Moderation)
                    {
                        <td><a class="item-published" href="~/Comments/PublishedComment/@item.Id"><strong class="text-success">опубликовать</strong></a></td>
                    }
                    else
                    {
                        <td><strong class="text-muted">опубликован</strong></td>
                    }
                </tr>
            }

        </table>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".item-edit").click(function (e) {
                e.preventDefault();
                $.get(this.href,
                    function (data) {
                        $('#dialogContent').html(data);
                        $('#modDialog').modal('show');
                    });
            });
        });

        function SelectedValue(e) {
            var value = e.value;
            $.ajax({
                type: "GET",
                url: "/Comments/SelectedStatus/",
                data: { status: value },
                success: function (data) {
                    console.log(data);
                    $('#results').html(data);
                },
                error: function () {
                    console.log("error test");
                }
            });
            //e.preventDefault();
        }


        //$('#status').change(function (e) { console.log(e.currentTarget.value) }) //todo

        $('.item-published').click(function (e) {
            e.preventDefault();
            $.ajax({
                url: this.href,
                type: 'GET',
                success: function (data) {
                    getComments();
                    swal({
                        title: "Опубликован",
                        text: data,
                        icon: "success",
                        buttons: false,
                        timer: 4000
                    });
                },
                error: function () {
                    alert('error test');
                }

            });
        });

        function getComments() {
            $.ajax({
                type: 'GET',
                url: '/Comments/Index',
                success: function (data) {
                    $('#results').html('');
                    $('#results').html(data);
                }
            })
        }


    </script>
}
