@using System.Drawing
@using System.Web.UI.WebControls
@using Microsoft.AspNet.Identity
@using WebGrease.Css.Extensions
@using WorldLib.Models
@model CommentsByDiscussionViewModel
@{
    ViewBag.Title = "Comments";
}

<div class="container">
    <div class="panel panel-primary" style="border:none" id="panel-container">
        <div class="panel-heading text-center" onclick="blockClick()" id="block-disc">

            @if (Model.Discussion != null)
            {
                <h4>@Model.Discussion.Name</h4>

            }
            else
            {
                <h4>В этом обсуждении пока отсутствуют комментарии ..</h4>
            }

        </div>
        <div class="panel-body" style="background-color:#555555;">
            <div class="row">
                <div class="col-md-12">
                    <div id="results">
                        @foreach (var comment in Model.Comments)
                        {
                            <div id="comment" class="alert-success alert ">
                                <span class="glyphicon glyphicon-leaf"></span>
                                <span>@comment.Text</span>
                                <span class="glyphicon glyphicon-leaf"></span>
                                <div style="padding: 20px 0 5px 14px">

                                    @{
                                        var count = Model.Likes.Count(x => x.CommentId == comment.Id);
                                        var activClass = Model.Likes.Any(x => x.CommentId == comment.Id && x.UserId == User.Identity.GetUserId()) ? "isActive" : "isntActive";
                                        var like = "";

                                    }
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        like = $"clickLike({@comment.Id})";
                                    }
                                    <div style="margin-left: 30px; display: inline">
                                        <span class="glyphicon glyphicon-heart @activClass" id="l-@comment.Id"
                                              onclick="@like">@count</span>
                                    </div>
                                    
                                    <template id="comments-template">
                                        <div class="col-lg-offset-9" >
                                            <small class="text-muted" data-bind="text:text, click: answer"></small>
                                            <form class="form-horizontal" data-bind="visible: isAnswer" style="margin-bottom: 7px;">


                                                <textarea class="form-control t-area" data-bind="value: answerText, valueUpdate:'afterkeydown', css:{'t-area-active':isReadyAnswer }"></textarea>
                                                <input class="form-control btn-default" type="submit" data-bind="visible: isReadyAnswer" value="Отправить" />
                                                <input class="form-control btn-default" type="button" data-bind="click: answer" value="Отмена" />
                                            </form>
                                        </div>
                                    </template>
                                    <comments></comments>
                                        <small style="float: right;" class="text-muted glyphicon glyphicon-user"> @comment.User.NikName</small>
                                        <small style="float: left;" class="text-muted">
                                            @string.Format(" {0} ~ {1} ", comment.CreationDateTime.ToLongDateString(), comment.CreationDateTime.ToShortTimeString())
                                        </small>
                                    </div>
                                </div>

                            }
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form method="post" action="/Forum/AddComment" id="add-comment">
                            <textarea name="Text" rows="4" cols="40" class="form-control" id="text-comment"></textarea>
                            <input type="hidden" name="DiscussionId" value="@Model.Discussion.Id" />
                            <input class="btn btn-block btn-primary" type="submit" value="добавить" />
                        </form>


                    }
                </div>
                @*<div class="col-md-4 text-center">
                        @{Html.RenderPartial("CategoriesPartialView", ViewBag.CategoriesList as List<Category>);}
                    </div>*@
            </div>
        </div>

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("/Scripts/models/comments-view-model.js")

    <script>

        $('#add-comment').submit(function (e) {
            var form = $(this);
            var url = form.attr('action');

            $.ajax({
                type: "POSt",
                url: url,
                data: form.serialize(),
                success: function (data) {
                    $('#text-comment').val('');
                    myAlert("Спасибо за ваш отзыв", data, "info", 4500);
                }
            });
            e.preventDefault();
        });

        var myAlert = function (title, data, icon, time) {
            swal({
                title: title,
                text: data,
                icon: icon,
                buttons: false,
                timer: time
            });
        }

        var block = document.getElementById('block-disc');

        function blockClick() {
            window.location.href = "../../Forum/Index";
        };

        var clickLike = function (commentId) {
            var id = '#l-' + commentId;
            var like = $(id);
            if (like.hasClass('isActive')) return;
            var count = Number(like[0].innerText);
            like[0].innerText = ++count;
            $.ajax({
                type: "GET",
                url: '/Comments/Like',
                data: { commentId: commentId },
                success: function (data) {
                    like.removeClass('isntActive');
                    like.addClass('isActive');
                }
            });
        }

        $(document).ready(function() {
            ko.applyBindings();
        });

    </script>
}

<style>
    #block-disc {
        background-color: #555555;
        cursor: pointer;
        color: darkgray;
    }

        #block-disc:hover {
            /*background-color:#777;*/
            color: white;
            /*box-shadow: 0px 15px 10px -15px #111;*/
        }

    #comment {
        margin-bottom: 10px;
        background-color: #ffffff; /*#424242;*/
        color: darkcyan;
    }
    .t-area {
       background-color: antiquewhite;
        transition: all .4s;
    }
    .t-area-active {
        transform: scale(1.15);
    }
    .isActive {
        color: #f44336;
        transition: cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.2s;
    }

    .isntActive {
        color: #90a4ae;
        cursor: default;
        transition: cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.2s;
    }

        .isActive:hover, .isntActive:hover {
            transform: scale(1.4);
        }
</style>




